@import url('shared.css');

:root {
	--main-background-color: #efefef;
	--background-color: #fff;
	--main-color: #efefef;
	--accent-color: #03A9F4;
	--highlight-color: #E3F2FD;
	--text-color: #212121;
	--shadow-color: #aaa;
	--divider-color: rgba(0,0,0,.1);
	--sidebar-icon-color: rgba(255, 255, 255, 1);
	--popup-icon-color: rgba(0, 0, 0, 0.54);
	--card-header-color1: #FFCDD2;
	--card-header-text-color1: black;
	--card-header-color2: #BBDEFB;
	--card-header-text-color2: black;
	--card-header-color3: #C8E6C9;
	--card-header-text-color3: black;
	--card-header-color4: #E1BEE7;
	--card-header-text-color4: black;
	--card-header-color5: #CFD8DC;
	--card-header-text-color5: black;
}

body {
	font-family: 'Segoe UI', Helvetica, sans-serif;
	background-color: var(--main-background-color);
	color: var(--text-color);
	margin: 0px;
}

.scrim {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	background-color: rgba(0,0,0,.15);
	display: none;
}

.main-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	max-height: 100vh;
}

.over-card {
	border-left: 2px solid var(--accent-color);
	margin-left: -2px;
}

/*
    Menu Bar
*/

.menu-bar {
	height: 100%;
	width: 58px;
	/* position: fixed; */
	background-color: var(--main-color);
	text-align: center;
	display: flex;
	flex-direction: column;
}

/*
    Popup Menu
*/

.menu {
	position: fixed;
	bottom: 10px;
	left: 68px;
	width: 240px;
	background-color: var(--background-color);
	box-shadow: 3px 3px 10px var(--shadow-color);
	z-index: 1000;
	display: none;
}

.menu .divider {
	border-bottom: 1px solid var(--divider-color);
	margin: 5px 0;
}

.menu > .popup-menu-item {
	font-size: 16px;
	line-height: 36px;
	padding: 5px 10px;
	display: inline-flex;
	width: 220px;
	cursor: default;
}
.menu > .popup-menu-item:hover {
	background-color: var(--highlight-color);
}

.menu > .popup-menu-item i {
	line-height: 36px;
	margin-right: 10px;
	color: var(--popup-icon-color);
}

/*
    Main Content
*/

.welcome-card {
	max-width: 500px;
	margin: auto;
	font-size: 16px;
	font-weight: 300;
	/*color: #444;*/
}

.welcome-card h1 {
	text-align: center;
	font-weight: 500;
}

.welcome-card h4 {
	font-weight: 500;
}

.content-container {
	padding: 7px;
	height: 100vh;
	overflow: scroll;
	flex: 1;
}

.delete-bar {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 10px;
	background-color: var(--background-color);
	box-shadow: 3px 3px 10px var(--shadow-color);
	color: var(--popup-icon-color);
	opacity: 0;
	transition: 200ms;
	border-bottom-left-radius: 5px; 
}

.delete-bar.over {
	opacity: 1;
	transform: scale(1.5);
}

/*
	Theme Builder
*/

.theme-builder {
	width: 250px;
	background-color: var(--main-background-color);
	z-index: 2000;
	display: none;
	flex-direction: column;
	padding: 2px;
}

.theme-builder input {
	border: none;
	border-bottom: 1px solid var(--divider-color);
	background-color: rgba(0,0,0,0);
	color: inherit;
	margin: 0px 0 20px 0;
	padding: 7px 0;
	width: 100%;
}

.theme-builder input:focus {
	outline: none;
	border-bottom-color: var(--accent-color);
}

.theme-settings {
	flex: 1;
	overflow-y: scroll;
}
.theme-settings::-webkit-scrollbar {
    width: 3px;
}
.theme-settings::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.theme-settings::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius:4px;
    background: rgba(255,255,255,.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.theme-settings::-webkit-scrollbar-thumb:window-inactive {
	/*background: rgba(255,0,0,0.4); */
}

.theme-builder .actions > div {
	display: block;
	width: 100%;
	color: var(--accent-color);
	padding: 8px 15px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.theme-builder color-row {
	padding-right: 5px;
}

.actions > div:hover {
	background-color: var(--highlight-color);
}


@media (max-width: 500px) {
	.card-container {
		width: calc(100%);
	}

	.card {
		height: inherit !important;
	}
}

@media (min-width: 500px) and (max-width: 850px) {
	.card-container {
		width: calc(100% / 2);
	}
}

@media (min-width: 850px) and (max-width: 1200px) {
	.card-container {
		width: calc(100% / 3);
	}
}

@media (min-width: 1200px) and (max-width: 1550px) {
	.card-container {
		width: calc(100% / 4);
	}
}

@media (min-width: 1550px) and (max-width: 1900px) {
	.card-container {
		width: calc(100% / 5);
	}
}

@media (min-width: 1900px) {
	.card-container {
		width: calc(100% / 6);
	}
}

/* App Cards */

@media (max-width: 450px) {
	.app-card {
		width: calc(100% - 40px);
	}
}

@media (min-width: 450px) and (max-width: 670px) {
	.app-card {
		width: calc(100% / 2 - 40px);
	}
}

@media (min-width: 670px) and (max-width: 890px) {
	.app-card {
		width: calc(100% / 3 - 40px);
	}
}

@media (min-width: 890px) and (max-width: 1110px) {
	.app-card {
		width: calc(100% / 4 - 40px);
	}
}

@media (min-width: 1110px) and (max-width: 1330px) {
	.app-card {
		width: calc(100% / 5 - 40px);
	}
}

@media (min-width: 1330px) and (max-width: 1550px) {
	.app-card {
		width: calc(100% / 6 - 40px);
	}
}

@media (min-width: 1550px) and (max-width: 1770px) {
	.app-card {
		width: calc(100% / 7 - 40px);
	}
}

@media (min-width: 1770px) and (max-width: 1990px) {
	.app-card {
		width: calc(100% / 8 - 40px);
	}
}


/* TODO: Find a better way to manage these scrollbars */
::-webkit-scrollbar {
    width: 0px;
}