:root {
	--main-background-color: #222;
	--background-color: #333;
	--main-color: #111;
	--accent-color: #fff;
	--highlight-color: #2a2a2a;
	--text-color: #ccc;
	--shadow-color: #111;
	--divider-color: rgba(255,255,255,.1);
	--sidebar-icon-color: rgba(255, 255, 255, 1);
	--popup-icon-color: rgba(255, 255, 255, .8);
}