:root {
	--main-background-color: #231b17;
	--background-color: #1d1713;
	--main-color: #1d1713;
	--accent-color: #e36026;
	--highlight-color: #2d241f;
	--text-color: #bdae9d;
	--shadow-color: rgba(0,0,0,0);
	--divider-color: rgba(0,0,0,.1);
    --sidebar-icon-color: rgba(255, 255, 255, 1);
	--popup-icon-color: rgba(255, 255, 255, .8);
}