body {
	background: #231b17;
	color: #bdae9d;
}

.menu-bar {
    background: #1d1713;
	color: #bdae9d;
}

.main-content /deep/ .card {
    background-color: #1d1713;
	color: #bdae9d;
	box-shadow: none;
}

.main-content /deep/ .card-title {
    color: #e36026;
}

.main-content /deep/ .row:hover,
.main-content /deep/ .row.highlight,
.main-content /deep/ #btnLaunch.highlight {
    background-color: #2d241f;
}

settings-card /deep/ .settings-row {
    border-bottom: 1px solid #2a211c;
}

app-card /deep/ .actions > * {
    color: #e36026;
}