body {
	font-family: 'Segoe UI', Helvetica, sans-serif;
	background-color: #efefef;
	color: #212121;
	margin: 0;
	/* text-align: center; */
}

.card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 20px auto;
	padding: 10px;
	vertical-align: top;
	box-shadow: 0px 2px 3px #aaa;
	border-radius: 5px;
	overflow: hidden;
	min-height: 375px;
	max-width: 400px;
}

.card-title {
	font-size: 22px;
	font-weight: 400;
	color: #03A9F4;
	margin-bottom: 5px;
	overflow: ellipses;
	text-overflow: ellipses;
	white-space: nowrap;
}

.button {
	display: inline-block;
	color: #03A9F4;
	padding: 8px 15px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
}

.button:hover {
	background-color: #E3F2FD;
}